//base.scss
@use "../utils/variables" as *;

body {
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    font-size: $base-font-size;
    color: $text-color;
    font-family: lato;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
